/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
  font-size: 16px;
  --primary: rgb(10, 97, 209);
  --secondary: rgb(102, 102, 102);
}

body {
  position: relative;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border-radius: 7.5px;
  border: none;
  appearance: none;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  cursor: pointer;
  transition: all 0.1s;
}

button:hover,
.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: var(--primary);
  font-weight: bold;
  color: white;
}

.btn-pdf {
  background-color: #f40204;
  font-weight: bold;
  color: white;
}

.btn-pdf:hover {
  background-color: #df0000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
  color: inherit;
  margin: 0;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.paper {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25), -2px 0px 5px rgba(0, 0, 0, 0.25);
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

/* HEADER */
.header {
  margin-bottom: 1rem;
}

.header nav ul {
  display: flex;
}

.header nav a {
  padding: 0.5rem 1rem;
  display: block;
}

.header nav a:hover {
  opacity: 0.9;
}

.header nav a.active {
  font-weight: bold;
  background-color: var(--primary);
  color: white;
}

/* FILE FORM */
.file-form {
  text-align: center;
  /* border: 2px var(--primary) solid; */
  max-width: 34rem;
  margin: 0 auto 2rem;
}

.file-form button {
  display: block;
  margin-left: auto;
}

.file-form__input-container {
  margin-bottom: 1rem;
}

.file-form__input-container label {
  margin-top: 0.25rem;
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 7.5px;
  cursor: pointer;
  background-color: var(--secondary);
  color: white;
}

.file-form__input-container input {
  display: none;
}

/* CUSTOMER FORM */

.customer-form .toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.customer-form .checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.generate {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.customer-form .checkboxes > div {
  flex: 1;
  flex-basis: 7.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.combine-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.combine-grid .combine {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-left: auto;
  grid-column: span 4 / span 4;
  grid-column-start: 9;
  grid-row-start: 1;
  padding-left: 1rem;
  /* border-left: 1px solid black; */
}
.customer-combinations > button {
  margin-bottom: 1rem;
}

.combine-grid .checkboxes {
  grid-column: span 8 / span 8;
  grid-column-start: 1;
  grid-row-start: 1;
}

.customer-combinations h3 {
  margin-bottom: 0.5rem;
}

.customer-combinations__feedback {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.customer-combinations__feedback .feedback {
  flex-grow: 1;
}

.customer-combinations__feedback .feedback .feedback_selected {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.customer-combinations__feedback span {
  font-size: 0.7rem;
  display: block;
  padding: 0.25rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.customer-combinations_combinations {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.customer-combinations_combinations > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.customer-combinations_combinations span {
  display: block;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  padding: 0.25rem;
  border: rgb(164, 164, 164) 1px solid;
  flex-grow: 1;
  text-align: center;
}

.customer-combinations_combinations button {
  display: block;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  padding: 0.25rem;
  border: rgb(164, 164, 164) 1px solid;
  text-align: center;
}

.customer-combinations_combinations button:hover {
  background-color: rgb(232, 232, 232);
}

.search {
  display: flex;
  align-items: flex-end;
}

input {
  padding: 0.35rem;
}
